.title-space{
    margin:0;
}
#site-name{
    color: #b30000;
    
    font-size: 250%;
    font-family: cursive;
    text-decoration-style: solid;
    text-shadow: 2px 2px black;
    transition: transform 300ms ease-in-out;
}